/****** Object:  Table [dbo].[Capitol_geometry]    Script Date: 21.11.2021 14:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capitol_geometry](
	[ISO] [nvarchar](3) NOT NULL,
	[Capitol] [nvarchar](66) NULL,
	[Lat] [decimal](11, 8) NULL,
	[Long] [decimal](11, 8) NULL,
	[Location] [nvarchar](50) NULL,
	[Location_geo] [geography] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Capitol_geometry] ([ISO], [Capitol], [Lat], [Long], [Location], [Location_geo]) VALUES (N'PER', N'Lima', CAST(-12.00000000 AS Decimal(11, 8)), CAST(-77.00000000 AS Decimal(11, 8)), N'-12 -77', 0xE6100000010C00000000000028C000000000004053C0)
INSERT [dbo].[Capitol_geometry] ([ISO], [Capitol], [Lat], [Long], [Location], [Location_geo]) VALUES (N'COL', N'Bogota', CAST(4.56666667 AS Decimal(11, 8)), CAST(-74.00000000 AS Decimal(11, 8)), N'4.56666666666667 -74', 0xE6100000010C484444444444124000000000008052C0)
INSERT [dbo].[Capitol_geometry] ([ISO], [Capitol], [Lat], [Long], [Location], [Location_geo]) VALUES (N'CUW', N'Willemstad', CAST(12.08333333 AS Decimal(11, 8)), CAST(-69.00000000 AS Decimal(11, 8)), N'12.0833333333333 -69', 0xE6100000010C98AAAAAAAA2A284000000000004051C0)
GO
